In [29]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [30]:
import numpy as np
import pandas as pd
from pprint import pprint

In [31]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [140]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect, Column, Integer, String, Float
from sqlalchemy.types import Date
from datetime import timedelta, date

from pprint import pprint
from sqlalchemy.ext.declarative import declarative_base

In [38]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")
conn=engine.connect()
Base = declarative_base()
session=Session(bind=engine)

In [77]:
# reflect an existing database into a new model

# INSPECTOR TO VIEW DATABASES

# viewing original table to reproduce it 
# inspector=inspect(engine)
# table_names=inspector.get_table_names()
# for table_name in table_names:
#     print(table_name)
#     columns=inspector.get_columns(table_name)
#     pprint(columns)
    

    
# reflect the tables

class measurement (Base):
    __tablename__ = "measurement"
    id=Column(Integer, primary_key=True)
    station=Column(String)
    date=Column(Date)
    prcp=Column(Float)
    tobs=Column(Float)

class station(Base):
    __tablename__ = "station"
    id=Column(Integer, primary_key=True)
    station=Column(String)
    name=Column(String)
    latitude=Column(Float)
    longitude=Column(Float)
    elevation=Column(Float)

In [97]:
results_s=session.query(station).limit(1).all()
for row in results_s:
    pprint(row.__dict__)

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fb2c7461bd0>,
 'elevation': 3.0,
 'id': 1,
 'latitude': 21.2716,
 'longitude': -157.8168,
 'name': 'WAIKIKI 717.2, HI US',
 'station': 'USC00519397'}

In [65]:
# We can view all of the classes that automap found
results_m=session.query(measurement).limit(1).all()
for row in results_m:
    pprint(row.__dict__)

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fb2ce25ea90>,
 'date': datetime.date(2010, 1, 1),
 'id': 1,
 'prcp': 0.08,
 'station': 'USC00519397',
 'tobs': 65.0}

In [ ]:
# Save references to each table

In [ ]:
# Create our session (link) from Python to the DB

# Exploratory Climate Analysis

In [141]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results

max_date=session.query(func.max(measurement.date)).all()[0]
for row in max_date:
    pprint(row)

# Calculate the date 1 year ago from the last data point in the database

one_year= datetime.timedelta(days=365)

min_date = max_date - onez-year



# Perform a query to retrieve the data and precipitation scores


lasy_year_prcp=session.query(measurement).filter(measurement.date >= min_date, measurement.date < max_date ).all()

# for row in result:
#     pprint(row.__dict__)


# Save the query results as a Pandas DataFrame and set the index to the date column

# prcp_df=pd.read_sql_table(lasy_year_prcp)

# Sort the dataframe by date

# Use Pandas Plotting with Matplotlib to plot the data

datetime.date(2017, 8, 23)

AttributeError: type object 'datetime.datetime' has no attribute 'timedelta'

In [50]:
# Use Pandas to calcualte the summary statistics for the precipitation data

In [ ]:
# Design a query to show how many stations are available in this dataset?

In [109]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.



results_stations=session.query(station.id, station.name, func.count(station.name)).group_by(station.name).all()
for row in results_stations:
    print(row)

(8, 'HONOLULU OBSERVATORY 702.2, HI US', 1)
(2, 'KANEOHE 838.1, HI US', 1)
(3, 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 1)
(9, 'MANOA LYON ARBO 785.2, HI US', 1)
(4, 'PEARL CITY, HI US', 1)
(5, 'UPPER WAHIAWA 874.3, HI US', 1)
(7, 'WAIHEE 837.5, HI US', 1)
(1, 'WAIKIKI 717.2, HI US', 1)
(6, 'WAIMANALO EXPERIMENTAL FARM, HI US', 1)

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

## Bonus Challenge Assignment

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`